body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

#app{
  max-width: 600px;
  margin: 20px;
}